.card-body .list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-body .list-group-item i {
    padding: 15px;
    margin: -15px;
    cursor: pointer;
}
.card-body .list-group-item i:hover {
    color: #007bff;
}
